ANDROID_SDK_PATH=/opt/android-sdk
KEYSTORE_PATH=/var/www/lifx-web2apk/keystore/lifx.keystore
KEYSTORE_PASS=your_keystore_password
KEYSTORE_ALIAS=lifx
WEB2APK_API_KEY=your_web2apk_api_key
APPYET_API_KEY=your_appyet_api_key
